@model StefanShopWeb.ViewModels.AdminMessageViewModel


@{
    ViewData["Title"] = "Message";
}

<h2>Message</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Message" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" placeholder="ex.: robot " class="form-control" />
                <span asp-validation-for="Name" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject">Subject:</label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Message:</label>
                <textarea rows="8" cols="20" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-muted"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skicka" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>@ViewBag.Exception</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
