@model Wishinglist
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="product-btns" id="div@(Model.ProductId)">
        <form id="form@(Model.ProductId)" asp-action="AddToWishlist" asp-controller="Product" asp-route-wishlistid="@Model.Id" asp-route-productid="@Model.ProductId"
              data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#viewIcon">
            @*<button type="submit" class="add-to-wishlist" id="b@(Model.ProductId)">
                @if (Model.Id != 0)
                {
                    <i class="fa fa-heart"></i>
                }
                else
                {
                    <i class="fa fa-heart-o"></i>
                }
                <span class="tooltipp">add to wishlist</span>
            </button>*@
        </form>
        <button type="submit" form="form@(Model.ProductId)" class="add-to-wishlist" id="button@(Model.ProductId)">
            @if (Model.Id != 0)
            {
                <i class="fa fa-heart"></i>
                <span class="tooltipp">remove from wishlist</span>
            }
            else
            {
                <i class="fa fa-heart-o"></i>
                <span class="tooltipp">add to wishlist</span>
            }
        </button>
        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
    </div>
}
<script>
$('#button@(Model.ProductId)').click(function(e){
    e.preventDefault();
    $(this).find('i').toggleClass('fa-heart fa-heart-o');
    if ($(this).find('span').html() == "remove from wishlist") {
        $(this).find('span').html("add to wishlist");
    }
    else {
        $(this).find('span').html("remove from wishlist");
    }
    $(form@(Model.ProductId)).submit();
    //$("#wishIcon").load(location.href + " #wishIcon");
})
</script>