@model WishIconViewModel

    
        <a asp-controller="Product" asp-action="GetWishlist">
            <i class="fa fa-heart-o"></i>
            <span>Your Wishlist</span>
            <div class="qty">@Model.Quantity</div>
        </a>
